div{
    font-size: 19mm;
    width:604px;
    background-color:green;
}
div#blok1_Bogdanowicz:hover{
    background-color:silver;
    font-size: 25mm;
}
div#blok2_Bogdanowicz:hover{
    background-color:orange;
    font-size: 25mm;
}

div#blok3_Bogdanowicz:hover{
    background-color:greenyellow;
    font-size:25mm;
}
/*Hover jest po to gdy urządzenie wchoodzi w interakcję z elemenetem, np. najechanie kursem na coś daje nam zmiane koloru.*/ 
/*Kacper Bogdanowicz 3G*/ 